* {
    font-family: sans-serif;
}

body {
    margin: 3% 10%;
    width: 80%;
    background-color: #f8f8f8;
}

p {
    max-width: 800px;
}

main {
    margin-bottom: 60px;
    position: relative;
}

